DATABASE_URL="mysql://user:password@host:3306/database"
DATABASE_USER="user"
DATABASE_PASSWORD="password"
DATABASE_NAME="database"
DATABASE_HOST="localhost"
DATABASE_PORT=3306
JWT_SECRET="your_super_secret_key"
RECOVER_SECRET="your_super_secret_key"
ADMIN_API_KEY="secret"
VERSION=" app version"
ENCRYPT_KEY_2FA="secret"
MAIL_HOST="YOURHOST" # ex. smtp.gmail.com
MAIL_USER="USER"
MAIL_PASSWORD="PASSWORD"
HMAC_KEY="your_very_strong_key"
BASE_URL="your doman"
DISCORD_WEBHOOK_URL="webhook url"
DEBUG_MODE=true
MAINTENANCE_MODE=false
MAINTENANCE_USERS="glueeed,test,test2" # ex. glueeed,test,test2