@import "tailwindcss";

body {
  background: #030712;
}



::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #200e47;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2e1a4b;
}
